/* styles.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #4b4b4b;
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-container {
    background-color: #b3b3b3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(9, 71, 141, 0.1);
    width: 300px;
    max-width: 100%;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #9de68b;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #58e06b;
}

button:focus {
    outline: none;
}
